body {
  box-sizing: border-box;
}

li {
  list-style: none;
  margin: 10px 0;
}

.submit {
  border: 2px solid rgb(155, 213, 221);
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);

  
}

.submit:hover{
  background-color: rgb(155, 213, 221);
  border: 2px solid black;
}

.app-container {
  margin-top: 20px;
}

.error-container {
  display: none;
}

.error-message {
  font-size: 2rem;
}

.weather-app {
border: 2px solid black;
display: none;

}

.title {
  font-size: 3rem;
  padding: 0 20px 5px;
  text-align: center;
}


.weather-details {
  display: flex;
  justify-content: space-between;
}


.left-side {
  padding: 20px;
  display: block;
}


.temp-section {
  font-size: 2rem;
  font-weight: bold;
}

.temp-description {
  font-size: 1.3rem;
  padding: 5px 0;
}

.temp-options {
  border: none;
  padding: 3px 6px;
  cursor: pointer;
}


.temp-selected {
  background-color: grey;
  border: 1px solid black;
}


.right-side {
  padding: 20px;
  display: block;
  text-align: center;
}

img {
  width: 10rem;
}

.high-low {
  font-size: 1.3rem;
}